@{
    ViewBag.Title = "Home Page";
    ViewBag.Body_Class = "homepage";

}
@section HeaderBanner{

    <div id="banner">
        <div class="container">
            <div class="row">
                <section class="12u">
                    <header>
                        <h2>One thousand flavors in one place </h2>
                        <span class="byline"> Food is more than survival. With it we make friends, court lovers, and count our blessings.</span>
                    </header>
                    @*<a href="https://localhost:44385/Home/About" class="button button-alt">About us</a>*@


                </section>
            </div>

        </div>
    </div>
}